---
import home from "../data/home.json" with { type: "json" };
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={home.description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={home.description} />
  </head>
  <body class="font-sans">
    <slot />
  </body>
</html>
